---
layout: handbook-page-toc
title: "Quality Department Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Quality Department Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/quality_career_matrix_nav.erb") %>

These are the expected competencies of the Quality Department team members at GitLab by Job Title.
 
1. [Intermediate](/handbook/engineering/career-development/matrix/engineering/quality/intermediate)
1. [Senior](/handbook/engineering/career-development/matrix/engineering/quality/senior)
1. [Staff](/handbook/engineering/career-development/matrix/engineering/quality/staff)


## Quality Sub-departments

* Dev
* Ops
* Secure
* Enablement
* Growth
* Fulfillment
* Defend
* Engineering Productivity

