---
layout: default
title: GitLab for education
description: "We want students to use our most advanced features, so they can take that experience to their future workplaces. Learn more here!"
canonical_path: "/solutions/education/"
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
  - styles-2018.css
  - webcast.css
  - meetups.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        = image_tag "/images/community/gitlab-for-education-logo-digital-rgb-04.svg", class: "gitlab-for-education-logo-digital-rgb-04", alt: "Gitlab for Education logo"
        %h1.page-headline GitLab for Education
        %h2.page-subtitle Bringing DevOps to a classroom near you
        .row.text-center
          = link_to "Join the GitLab for Education Program", "/solutions/education/join", class: "btn cta-btn orange margin-top20"

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-lg
        .col-md-10.col-md-offset-1
          %h2.u-text-brand GitLab for Education

          %p At GitLab, we believe that <b>every student can contribute</b>! Our mission is to promote GitLab and DevOps at educational institutions around the world. We aim to build a community of educators, learners, and researchers who are passionate about all things related to DevOps and GitLab.

          %p Beyond providing free, unlimited licenses of our top tiers of GitLab (Self-hosted Ultimate or Hosted Gold), we want to be a resource for you to learn more about DevOps and connect with others who share your interest.

      .row.u-margin-top-md.js-in-page-nav-section#get-involved
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Get involved!

          %p We are thrilled to welcome you to the GitLab for Education Program! The GitLab for Education Program has issued over <b>1.62 million seats of top-tier GitLab to over 800 educational institutions in over 65+ countries</b>. We've come this far in only two years and are growing every day! As we continue to build on this momentum - our top goal is be the place to be for all things DevOps education.

          %h3.u-text-brand Here are few things to get you started on your DevOps journey:

        .gitlab-content-container
          .grid-layout.grid-layout3
            = link_to "https://forum.gitlab.com/c/gitlab-for-education/37", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-customers.svg", class: "icon-small", alt: "Gitlab community resources svg"
              .tile-content
                %h4 Join the GitLab Forum
                %p Come on by and introduce yourself! We created a special Education category as a resource for our program members. Consider the forum your resource for Q&A on GitLab!
            = link_to "https://about.gitlab.com/blog/2020/06/17/gitlab-for-education-student-spotlights/", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-hall-of-fame.svg", class: "icon-small", alt: "Gitlab community contributing svg"
              .tile-content
                %h4 Apply to Students Spotlights
                %p Apply, interview, and get swag! We can't wait to meet you and learn about your projects!
            = link_to "https://gitlab.com/gitlab-com/marketing/community-relations/education-program", class: "tile tile-animated grid-item" do
              = image_tag "/images/downloads/logo.svg", class: "icon-small", alt: "Gitlab logo svg"
              .tile-content
                %h4 Share your ideas
                %p We'd love to hear from you about what you'd like to see next! Help shape the future of DevOps education at GitLab. Open an issue in our project!
            = link_to "/community/meetups/", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-events.svg", class: "icon-small", alt: "Gitlab community events svg"
              .tile-content
                %h4 Attend or Host a Meetup
                %p In a pinch for a lecture topic? Looking for an engaging speaker on DevOps? Check out GitLab Meetups! We make it super easy.
            = link_to "/community/hackathon/", class: "tile tile-animated grid-item" do
              = image_tag "/images/community/community-hackathon.svg", class: "icon-small", alt: "Gitlab hackathon svg"
              .tile-content
                %h4 Hackathon
                %p We host quarterly hackathons where you can make contributions, win prizes, and network with other contributors. Students encouraged!
            = link_to "/community/contribute/", class: "tile tile-animated grid-item" do
              = image_tag "/images/downloads/logo.svg", class: "icon-small", alt: "Gitlab logo svg"
              .tile-content
                %h4 Become a contributor
                %p Are you a student looking to gain experience? Want to develop your skills wthin a support network? Check our our code contributor program to get started!

      .row.u-margin-top-xl.js-in-page-nav-section#devops-in-education
        .col-md-10.col-md-offset-1
          %h2.u-text-brand DevOps in Education

          %p DevOps + Education: Are you interested in learning more about how the two relate? We are too! You've come to the right place!

          %p There are so many different ways DevOps can be used in education. We’ve been taking note of a few of the really great ways we see DevOps entering both the higher education classroom as well as K-12 and less formal settings such as clubs and boot camps!

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object.svg-shadow{ style: "width: 162px; height: 186px" }
                = partial "includes/icons/cycle-analytics/icon-benefit-1.svg"

            .media-body.media-middle
              %h3.u-margin-top-0 Open Science and research

              %p.u-margin-bottom-0 Git technology is being used to manage data and publications. Continuous integration runs analytical workflows on data. Containerization allows for reproducability and versioned analysis. Collaborative tools speed up the cycle to results. Repositories store open data and web publications.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object.svg-shadow{ style: "width: 162px; height: 162px;" }
                = partial "includes/icons/code-2-icon.svg"
            .media-body.media-middle
              %h3.u-margin-top-0 Learn computer science, coding, DevOps, and open source

              %p.u-margin-bottom-0 Central repositories and source control are great tools for learning coding. Students can learn the stages of the DevOps lifecycle easily with a single platform. Continous integration tools can quality check and grade code assignments. Collaboration for group projects is easier with a central repositories, issues, epics and milestones.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object.svg-shadow{ style: "width: 162px; height: 162px;" }
                = partial "includes/icons/home/icon-step-2.svg"
            .media-body.media-middle
              %h3.u-margin-top-0 Student portfolios

              %p.u-margin-bottom-0 Students can showcase contributions and code on a GitLab repository. GitLab profiles record a students' contributions and collaboration. GitLab can be used to host and publish blog posts, resumes, and other websites. Demonstrating use of GitLab adds credibility to DevOps skills and working knowledge.
